{% extends 'index.html' %}
 
{% block content %}
<div class="controllerWrapper">
  <div class="switchDiv">
      <div class="powerDiv">
        <div class="lightSwitchDiv">
          <img
            class="lightIcon"
            id="lightIcon"
            src="../static/img/lightOff.png"
            alt="light"
          ></img>
        </div>
        <div class="sensorSwitchDiv">
          <img
            class="sensorIcon"
            id="sensorIcon"
            src="../static/img/sensorOff.png"
            alt="sensor"
          ></img>
        </div>
      </div>
  </div>
</div>
{% endblock %}
