<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>lighthouse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="webapp for lighthouse" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/switch.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/color.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/dim.css" />
  </head>
  <body>
    <div class="appWrapper">
      <div class="appContent">
        <div class="logoDiv">
          <img class="logo" src="../static/img/lighthouse.png" alt="logo" />
        </div>
        <div class="titleDiv">
          <b>
            <p class="title">LIGHTHOUSE</p>
          </b>
        </div>
        <div class="controlDiv">
          <div class="switchDiv">
            <div class="lightSwitchDiv">
              <img
                class="lightIcon"
                id="lightIcon"
                src="../static/img/lightOff.png"
                alt="light"
                onchange="handleChange()"
              />
            </div>
            <div class="sensorSwitchDiv">
              <img
                class="sensorIcon"
                id="sensorIcon"
                src="../static/img/sensorOff.png"
                alt="sensor"
              />
            </div>
          </div>
          <div class="colorDiv">
            <input
              class="radioInput"
              type="radio"
              id="silver"
              name="radioInput"
            />
            <label for="silver"
              ><span class="radioSpan"
                ><img
                  class="radioCheckedImg"
                  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg"
                  alt="Checked Icon" /></span
            ></label>
            <input
              class="radioInput"
              type="radio"
              id="green"
              name="radioInput"
            />
            <label for="green"
              ><span class="radioSpan"
                ><img
                  class="radioCheckedImg"
                  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg"
                  alt="Checked Icon" /></span
            ></label>
            <input
              class="radioInput"
              type="radio"
              id="blue"
              name="radioInput"
            />
            <label for="blue"
              ><span class="radioSpan"
                ><img
                  class="radioCheckedImg"
                  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg"
                  alt="Checked Icon" /></span
            ></label>
            <input
              class="radioInput"
              type="radio"
              id="yellow"
              name="radioInput"
            />
            <label for="yellow"
              ><span class="radioSpan"
                ><img
                  class="radioCheckedImg"
                  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg"
                  alt="Checked Icon" /></span
            ></label>
            <input class="radioInput" type="radio" id="red" name="radioInput" />
            <label for="red"
              ><span class="radioSpan"
                ><img
                  class="radioCheckedImg"
                  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg"
                  alt="Checked Icon" /></span
            ></label>
            <input
              class="radioInput"
              type="radio"
              id="magenta"
              name="radioInput"
            />
            <label for="magenta"
              ><span class="radioSpan"
                ><img
                  class="radioCheckedImg"
                  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg"
                  alt="Checked Icon" /></span
            ></label>
          </div>
          <div class="dimDiv">
            <input
              class="rangeInput"
              type="range"
              id="rangeInput"
              min="5"
              max="100"
              step="5"
            />
          </div>
        </div>
      </div>
    </div>
    <script src="../static/js/index.js" type="text/javascript"></script>
    <script type="text/javascript">
      if (`{{lightStatus}}` === "on") {
        lightBtn.src = "/static/img/lightOn.png";
      } else if (`{{lightStatus}}` === "off") {
        lightBtn.src = "/static/img/lightOff.png";
      }
      if (`{{sensorStatus}}` === "on") {
        sensorBtn.src = "/static/img/sensorOn.png";
      } else if (`{{sensorStatus}}` === "off") {
        sensorBtn.src = "/static/img/sensorOff.png";
      }

      for (let i = 0; i < colorInputs.length; i++) {
        if (colorInputs[i].id === `{{colorStatus}}`) {
          colorInputs[i].checked = "checked";
        }
      }
      dimControl.value = `{{dimStatus}}`;
    </script>
  </body>
</html>
